<ul class="nav flex-column nav-pills admin-nav">
  <li class="nav-item"><b class="nav-link text-muted">Dashboards</b></li>
  <li class="nav-item">
    <a class="nav-link" href="{{ path('admin_dashboard') }}" data-target="#dashboard"><i class="fa fa-desktop" aria-hidden="true"></i> Overview</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="{{ path('admin_item_list') }}" data-target="#item-list"><i class="fa fa-database" aria-hidden="true"></i> Items</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#"><i class="fa fa-shopping-cart" aria-hidden="true"></i> Order History</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#"><i class="fa fa-cubes" aria-hidden="true"></i> Products</a>
  </li>
  <li class="nav-item"><b class="nav-link text-muted">Section</b></li>
  <li class="nav-item">
    <a class="nav-link" href="#"><i class="fa fa-user" aria-hidden="true"></i> Users</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#"><i class="fa fa-wrench" aria-hidden="true"></i> Settings</a>
  </li>
</ul>
